body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.singleProductContent {
  display: flex;
}

.quantityBox {
  display: flex;
}

.quantityButtons button {
  width: 100%;
}

/* All Products */
.card-image {
  width: 250px;
  height: 250px;
}

.card {
  font-family: Chalkduster, fantasy;
}

.component-body-products-list {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.component-header h1 {
  text-decoration: underline;
  margin: 20px;
}

/* Navbar */
#navbar-header {
  background-color: slategray;
  padding: 5px;
  margin: 5px;
}

#navbar-header h1 {
  padding: 5px;
  font-size: 50px;
  color: darkmagenta;
}

#navbar-header img {
  height: 100px;
  width: 100px;
  margin: 20px;
}
.navbar-title {
  display: flex;
}

h1 {
  font-family: Chalkduster, fantasy;
  font-variant: small-caps;
}

.navbar {
  background-color: darksalmon;
  display: flex;
}

/* SingleProduct */
.singleProductContent {
  display: flex;
  margin: 10px;
  justify-content: space-evenly;
  font-family: Chalkduster, fantasy;
}
.singleProductContent img {
  height: 400px;
  width: 400px;
  margin: 30px;
}

.singleProductRightColumn {
  margin: 30px;
}

/* Cart Component */

.cart img {
  height: 300px;
  width: 300px;
}

.cart {
  margin: 20px;
  font-family: Chalkduster, fantasy;
}
